<ion-header>
  <app-header [namePageInput]="'Tracking'"></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row [formGroup]="svcFormsTracking.formFiltros">
      <ion-col
        *ngFor="let campo of svcFormsTracking.camposFormFiltros"
        [size]="campo.cols.sm"
        [sizeSm]="campo.cols.sm"
        [sizeMd]="campo.cols.md"
        [sizeLg]="campo.cols.lg"
      >
        <ion-item *ngIf="campo.tipo === 'input'">
          <ion-label position="floating">{{ campo.titulo }}</ion-label>
          <ion-input type="text" [formControlName]="campo.clave"></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="limpiar(campo.clave)" size="small">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="buscar(campo.clave)" size="small">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <app-table-tracking-pedidos-consultoras
          class="animate__animated animate__fadeIn"
        ></app-table-tracking-pedidos-consultoras>
      </ion-col>
      <!--<ion-col size="12" class="ion-padding">
        <app-graphic-tracking-pedido-consultora class="animate__animated animate__fadeIn"></app-graphic-tracking-pedido-consultora>
      </ion-col>-->
    </ion-row>
  </ion-grid>
</ion-content>
