<ion-row>
  <ion-col size="12" size-md="4">
    <ion-card class="ion-no-margin">
        <div #chartSparkLines1>
          <apx-chart
            [series]="chartOptions1?.series"
            [chart]="chartOptions1?.chart"
            [labels]="chartOptions1?.labels"
            [yaxis]="chartOptions1?.yaxis"
            [xaxis]="chartOptions1?.xaxis"
            [fill]="chartOptions1?.fill"
            [stroke]="chartOptions1?.stroke"
            [colors]="chartOptions1?.colors"
            [title]="chartOptions1?.title"
            [subtitle]="chartOptions1?.subtitle"
          ></apx-chart>
        </div> 
    </ion-card>
  </ion-col>
  <ion-col size="12" size-md="4">
    <ion-card class="ion-no-margin">
        <div #chartSparkLines2>
          <apx-chart
            [series]="chartOptions2?.series"
            [chart]="chartOptions2?.chart"
            [labels]="chartOptions2?.labels"
            [yaxis]="chartOptions2?.yaxis"
            [xaxis]="chartOptions2?.xaxis"
            [fill]="chartOptions2?.fill"
            [stroke]="chartOptions2?.stroke"
            [colors]="chartOptions2?.colors"
            [title]="chartOptions2?.title"
            [subtitle]="chartOptions2?.subtitle"
          ></apx-chart>
        </div> 
    </ion-card>
  </ion-col>
  <ion-col size="12" size-md="4">
    <ion-card class="ion-no-margin">
        <div #chartSparkLines3>
          <apx-chart
            [series]="chartOptions3?.series"
            [chart]="chartOptions3?.chart"
            [labels]="chartOptions3?.labels"
            [yaxis]="chartOptions3?.yaxis"
            [xaxis]="chartOptions3?.xaxis"
            [fill]="chartOptions3?.fill"
            [stroke]="chartOptions3?.stroke"
            [colors]="chartOptions3?.colors"
            [title]="chartOptions3?.title"
            [subtitle]="chartOptions3?.subtitle"
          ></apx-chart>
        </div>
    </ion-card>
  </ion-col>
</ion-row>

