#logo-transolyfer-header{
    ion-img{
        width: 180px;
        height: 60px;
    }
}
#logo-transolyfer-header-movil{
    padding-right: 0;
    padding-left: 0;
    ion-img{
        width: 30px;
        height: 30px;
    }
}