@import "/src/theme/variables.scss";

.spinner-modal-navigate-direction {
    width: 100%;
}

ion-card {
    text-align: center;
    ion-card-content{
        .icon-modal-navigate-direction {
            color: var(--ion-color-dark-shade);
            font-size: 5rem;
        }
    }
}
.btn-ion-flotante{
    position: absolute;
    right: 0;
}

