<ion-header>
  <app-header [namePageInput]="'Dashboard'"></app-header>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row [formGroup]="svcFormFiltros.formFiltros">
      <ion-col
        *ngFor="let campo of svcFormFiltros.camposFormFiltros"
        [size]="campo.cols.sm"
        [sizeSm]="campo.cols.sm"
        [sizeMd]="campo.cols.md"
        [sizeLg]="campo.cols.lg"
      >
        <ion-item *ngIf="campo.tipo === 'date'">
          <ion-label position="stacked">{{ campo.titulo }}</ion-label>
          <ion-input type="date" [formControlName]="campo.clave"></ion-input>
        </ion-item>

        <ion-item *ngIf="campo.tipo === 'select'">
          <ion-label position="floating">{{ campo.titulo }}</ion-label>
          <ion-select multiple="true" [formControlName]="campo.clave">
            <ng-container [ngSwitch]="campo.clave">
              <ng-container *ngSwitchCase="'codigo_ubigeo'">
                <ng-container *ngIf="distritos$ | async as distritos">
                  <ion-select-option
                    *ngFor="let distrito of distritos"
                    [value]="distrito.codigo_ubigeo"
                  >
                    {{ distrito.nombre_ubigeo }}
                  </ion-select-option>
                </ng-container>
              </ng-container>

              <ng-container *ngSwitchCase="'idEmpresa'">
                <ng-container *ngIf="empresas$ | async as empresas">
                  <ion-select-option
                    *ngFor="let empresa of empresas.Resultado"
                    [value]="empresa.idEmpresa"
                  >
                    {{ empresa.descripcion }}
                  </ion-select-option>
                </ng-container>
              </ng-container>

              <ng-container *ngSwitchDefault></ng-container>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <app-graphic-sparklines [mobile]="mobileQuery"></app-graphic-sparklines>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-graphic-donut [mobile]="mobileQuery"></app-graphic-donut>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-graphic-dashboard-avance-evento
          [mobile]="mobileQuery"
        ></app-graphic-dashboard-avance-evento>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-graphic-dashboard-area
          [mobile]="mobileQuery"
        ></app-graphic-dashboard-area>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-graphic-dashboard-line-options
          [mobile]="mobileQuery"
        ></app-graphic-dashboard-line-options>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-table-dashboard-detalle-distrito [mobile]="mobileQuery"></app-table-dashboard-detalle-distrito>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-table-dashboard-pedidos-pendientes [mobile]="mobileQuery"></app-table-dashboard-pedidos-pendientes>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="6" class="ion-padding">
        <app-graphic-dashboard-indicador-imagenes [mobile]="mobileQuery"></app-graphic-dashboard-indicador-imagenes>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
